<link rel="stylesheet" href="../css/home.css">

<footer id="footer" class="footer-1">
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">
  
<div class="col-xs-12 col-sm-6 col-md-6">
<div class="widget no-box">
<h5 class="widget-title">Quick Links<span></span></h5>
<ul class="thumbnail-widget">
<li>
<div class="thumb-content"><a href="#.">Get Started</a></div>	
</li>
<li>
<div class="thumb-content"><a href="#.">Fire Fighting</a></div>	
</li>
<li>
<div class="thumb-content"><a href="#.">Alarm System</a></div>	
</li>
<li>
<div class="thumb-content"><a href="#.">Safety Equipments</a></div>	
</li>
<li>
<div class="thumb-content"><a href="#.">About</a></div>	
</li>
</ul>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-6">

<div class="widget no-box">
<h5 class="widget-title">Contact Us<span></span></h5>

<p>60 Al Qabila st. Al Gomhorya st. Qairo </p>
<a href="tel:123-456-7890">123-456-7890</a>
<p><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p>

<br>

<ul class="social-footer2">
<li class=""><a title="facebook" target="_blank" href="https://www.facebook.com/"><img alt="facebook" width="30" height="30" src="../img/facebook.png"></a></li>
<li class=""><a href="https://www.linkedin.com/" target="_blank" title="linkedin"><img alt="Linkedin" width="30" height="30" src="../img/linkedin.png"></a></li>
<li class=""><a href="https://twitter.com" target="_blank" title="Twitter"><img alt="Twitter" width="30" height="30" src="../img/twitter.png"></a></li>
<li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/"><img alt="instagram" width="30" height="30" src="../img/instagram.png"></a></li>
</ul>
</div>
</div>

</div>
</div>
</div>
  
<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>Copyright American System Fire © 2020. All rights reserved.</p>
</div>
</div>
</div>
</div>
</footer>