

    <footer class="page-footer font-small mdb-color pt-4">

        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left mt-3 pb-3">

                <hr class="w-100 clearfix d-md-none">

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                    <p>
                        <a href="/fire">fire Fighting</a>
                    </p>
                    <p>
                        <a href="/alarm">Alarm system</a>
                    </p>
                    <p>
                        <a href="/safety">Safety Equipments</a>
                    </p>
                    <p>
                        <a href="#!">Help</a>
                    </p>
                </div>

                <hr class="w-100 clearfix d-md-none">


                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p>
                        Qairo , Al-Qabila st. , 60
                    </p>
                    <p>
                        info@AmericanfireSystem.com
                    </p>
                    <p>
                        <a id="tel" href="tel:+01229295147">01229295147</a>
                    </p>
                </div>

            </div>

            <hr>

            <div class="row d-flex align-items-center">


                <div class="col-md-7 col-lg-8">

                    <p class="text-center text-md-left">© 2020 Copyright:
                        <a href="https://mdbootstrap.com/">
                            <strong> American Fire System</strong>
                        </a>
                    </p>

                </div>

                <div class="col-md-5 col-lg-4 ml-lg-0">
                    <h5><strong>Follow Us</strong></h5>

                    <div class="text-center text-md-center">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">

                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/">
                                    <img src="img/facebook.png" alt="">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/">
                                    <img src="img/twitter.png" alt="">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/">
                                    <img src="img/instagram.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>