  <section>
    <div class="jumbotron bg-cover" >
      <div class="container text-center">
        <h1 class="display-6">Bateekha!</h1>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      </div>
    </div>
  </section>