.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar-toggler {
    text-align: right;
}

.nav-item {
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}

.navbar {
    background-color: rgb(10, 10, 10);
}

.dropdown-toggle {
    font-family: "Lato", sans-serif
}

.dropdown-item {
    font-family: "Montserrat", sans-serif;
}

.btn:hover{
    background-color: rgb(10, 10, 10);
}
.page-footer {
    background-color: rgb(10, 10, 10);
}

footer h6{
    color: white;
}
footer p{
    color: gray;
}
footer a{
    color: rgb(240, 39, 39);
}
footer a:hover{
    color: white;
}
#tel {
    color: gray
}


