.container-fluid {
    color: white;
    text-align: left;
    background-color: red;
  }
  
  .dropdown:hover>.dropdown-menu{display:block;}
  .nav-item{
    margin-right: 20px;
    margin-left: 20px;
  }
  .navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  